<% if pages.present? &&  pages > 1 %>
  <ul class="pagination float-right">
    <li class="page-item"><a class="page-link" href="<%= previous_page(pages) %>">Previous</a></li>
    <% pages.times do |page_num| %>
      <li class="page-item"><a class="page-link" href="<%= params_paginate(page_num.next) %>"><%= page_num.next %></a></li>
    <% end %>
    <li class="page-item"><a class="page-link" href="<%= next_page(pages) %>">Next</a></li>
  </ul>
<% end %>